<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>G00325728 DRQ Project</title>
</head>
<body style="background-color: darkgray;text-align: center">

<h2>Pounds to Kilograms Converter</h2>
<hr>
<p>Enter number of pounds below and it will be converted into kilograms for you!</p>

<p>
  <label>Pounds</label>
  <input id="pounds" type="number" placeholder="Enter Pounds Here" oninput="convert(this.value)" onchange="convert(this.value)">
</p>
<p>Kilograms: <span id="kilos"></span></p>

<script>
function convert(valNum) {
  document.getElementById("kilos").innerHTML=valNum/2.2046;
}
</script>
</body>
</html>